* {
    box-sizing: border-box;
}

body{
    text-align: center;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
}

#restart{
    display: block;
    margin: 10em 1em;
    background-color: rgb(206, 39, 39);
}