@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
* {
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}

body{
    text-align: center;
    font-family: Roboto, sans-serif;
}

.question{
    margin-bottom: 1em;
}
.answers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
}

#submit{
    background-color: rgb(136, 231, 136);
    margin-top: 1em;
}

#restart{
    display: block;
    margin: 10em 1em;
    background-color: rgb(206, 39, 39);
}